<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @classificacao.nome %>
</p>

<p>
  <strong>Idade minima:</strong>
  <%= @classificacao.idade_minima %>
</p>

<%= link_to 'Edit', edit_classificacao_path(@classificacao) %> |
<%= link_to 'Back', classificacoes_path %>
